body{
	font-family: "Segoe UI", Tahoma, Arial;
	font-size: 14px;
	color: #333;
	background: #fff;
}

/* Scroll Bars */
::-webkit-scrollbar{
    width: 8px;
	overflow: visible;
}
::-webkit-scrollbar-button {
	height: 0;
	width: 0;
}

::-webkit-scrollbar-track {
	background: rgba(0,0,0,.02);
	background-clip: padding-box;
	border: 1px solid rgba(0,0,0,.02);
}
::-webkit-scrollbar-track:horizontal {
	border-width: 4px 0 0;
}
::-webkit-scrollbar-track:hover {
	background-color: rgba(0,0,0,.05);
	border: 1px solid rgba(0,0,0,.1);
}
::-webkit-scrollbar-track:horizontal:hover {
	border: 1px solid rgba(0,0,0,.1);
}
::-webkit-scrollbar-track:active {
	background-color: rgba(0,0,0,.1);
	border: 1px solid rgba(0,0,0,.2);
}
::-webkit-scrollbar-track:horizontal:active {
	border: 1px solid rgba(0,0,0,.2);
}

::-webkit-scrollbar-thumb {
	background-clip: padding-box;
    background: rgba(0,0,0,.06);
	border: 1px solid transparent;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(36,36,36,.15);
}

/* sidebar */
.sidebar{
	overflow-y: auto;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 220px;
	background: #eee;
	transition: background 1s;
}
.sidebar:hover{
	background: #f9f9f9;
}

.content-table{
	margin: 60px 0;
	font-size: 12px;
	text-align: right;
}
.content-table a{
	display: block;
	padding: 6px 30px;
	text-decoration: none;
	color: #666;
	transition: color 1s;
}
.content-table:hover a{
	color: #000;
}
.content-table a.header{
	font-weight: bold;
}
.content-table a:hover{
	background: #cdf;
}

/* test info */
.test-info{
	position: fixed;
	z-index: 99;
	top: -4em;
	left: 2em;
	display: inline-block;
	padding: 10px 20px;
	font-size: 12px;
	color: #fff;
	background: #36c;
	border-radius: 0 0 4px 4px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.1);
	cursor: pointer;
	transition: all 1s;
}
.test-info.show{
	top: 0;
}
.test-info.pass{
	background: #393;
}
.test-info.fail{
	background: #c00;
}

/* content */
.content{
	margin-left: 240px;
	padding: 20px;
	width: 720px;
}

h1{
	font-size: 2.5em;
	font-weight: normal;
}
h2{
	font-size: 2em;
}
h3{
	margin-top: 2em;
	font-size: 1.5em;
}
h4{
	font-size: .8em;
	color: #666;
}


:not(pre) > code{
	color: #03c;
}
pre{
	position: relative;
	font-size: 12px;
	border: 1px solid #eee;
	border-radius: 4px;
}
pre.run-code{
	background: #f9f9f9;
}
pre.failed{
	border-color: #c33;
}

pre.collapse{
	cursor: pointer;
	color: #fff;
}
pre.collapse.failed{
	background: #c00;
}
pre.collapse.failed::before{
	content: 'TEST FAILED';
}
pre.collapse.passed{
	background: #e6f3e6;
}
pre.collapse.passed::before{
	color: #696;
	content: 'TEST PASSED';
}

pre.collapse .error-test{
	display: none;
}

.function.passed,
.function.failed{
	padding: 0 4px;
	color: #fff;
	background: #aca;
	border-radius: 4px;
}
.function.failed{
	background: #c00;
}


hr{
	margin: 40px 0;
	height: 1px;
	background: #ccc;
	border: 0;
}