body{
	font-family: "Segoe UI", Tahoma, Arial;
	font-size: 14px;
	color: #333;
	background: #fff;
}

/* sidebar */
.sidebar{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	padding: 20px 0;
	width: 280px;
	background: #eee;
}
.sidebar a{
	display: block;
	padding: 6px 30px;
	text-decoration: none;
	color: #666;
	transition: color 1s;
}
.sidebar:hover a{
	color: #000;
}
.sidebar a.header{
	font-weight: bold;
}
.sidebar a:hover{
	background: #cdf;
}

.content-table{
	text-align: right;
}

/* content */
.content{
	margin-left: 300px;
	padding: 20px;
	width: 800px;
}

h1{
	font-size: 2.5em;
	font-weight: normal;
}
h2{
	font-size: 2em;
}
h3{
	font-size: 1.4em;
}
h4{
	font-size: .8em;
}

:not(pre) > code{
	color: #03c;
}
pre{
	position: relative;
}
pre.usage{
	background: #fff !important;
	border-left: 4px solid #f3f3f3;
	border-radius: 0;
}

.function.passed,
.function.failed{
	padding: 0 4px;
	color: #fff;
	background: #aca;
	border-radius: 4px;
}
.function.failed{
	background: #c00;
}


hr{
	margin: 40px 0;
	height: 1px;
	background: #ccc;
	border: 0;
}