body{
	font-size: 14px;
	color: #333;
	background: #fff;
}

.sidebar{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 280px;
	background: #f6f6f6;
}

.content{
	margin-left: 300px;
	padding: 20px;
	width: 800px;
}

h1{
	font-size: 2.5em;
	font-weight: normal;
}
h2{
	font-size: 2em;
}
h3{
	font-size: 1.4em;
}
h4{
	font-size: .8em;
}

:not(pre) > code{
	color: #03c;
}
pre{
	position: relative;
}

.function.failed{
	color: #fff;
	background: #c00;
}


hr{
	margin: 40px 0;
	height: 1px;
	background: #ccc;
	border: 0;
}