body{
	font-size: 14px;
	color: #333;
	background: #f9f9f9;
}

.sidebar{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 300px;
	background: #fff;
	box-shadow: 3px 0 5px rgba(0,0,0,0.3);
}

.content{
	margin-left: 300px;
	padding: 20px;
}

:not(pre) > code{
	color: #c30;
}